body {
  font-family: Arial, sans-serif;
  background-color: #e0d3e3;
}

.wrapper {
  width: 360px;
  background: #b88ad2;
  padding: 40px;
  margin: 70px auto;
  border-radius: 6px;
  height: 600px;
}

h3 {
  text-align: center;
}

.inputBox {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 6px;
  border: 1px solid #4c065822;
  border-radius: 4px;
}

.radioGroup {
  margin-top: 10px;
}

.termsBox {
  margin-top: 10px;
}

p {
  color: red;
  font-size: 13px;
  margin: 2px 0;
}

input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}